#hampton{
  background-color: #d9d9d9;
}
h1{

}
.base-color{
	background-color: #3d9b94;
}
body{
	background-color: #f1fbfa;
}
.off-white{
	color:#f1fbfa;
}
h1.off-white{
	color: #f1fbfa;
}
.navbar-default{
	color:#FFFFFF;
	background-color: #28303e
}
.navbar-default .navbar-nav > li > a{
	color:#FFFFFF;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	color:#67bcb6;	
}